In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [15]:
# Store the CSV you saved created in part one into a DF
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-01-29 17:07:21,-23.1203,-134.9692,79.12,69,80,4.76
1,1,Vaini,TO,2021-01-29 17:07:24,-21.2000,-175.2000,75.20,100,90,14.97
2,2,Chapais,CA,2021-01-29 17:08:39,49.7834,-74.8492,1.40,85,90,11.50
3,3,Usinsk,RU,2021-01-29 17:14:24,65.9939,57.5281,-20.09,85,89,12.01
4,4,Jalu,LY,2021-01-29 17:10:39,29.0331,21.5482,56.28,64,0,4.99
...,...,...,...,...,...,...,...,...,...,...
557,557,Dunedin,NZ,2021-01-29 17:07:33,-45.8742,170.5036,51.01,74,15,1.01
558,558,Tarauaca,BR,2021-01-29 17:11:15,-8.1614,-70.7656,82.13,78,99,3.40
559,559,Vila Velha,BR,2021-01-29 17:07:22,-20.3297,-40.2925,90.00,58,20,19.57
560,560,Uruana,BR,2021-01-29 17:15:51,-15.4981,-49.6875,85.84,54,82,5.50
561,561,Vadso,NO,2021-01-29 17:15:51,70.0744,29.7487,17.60,86,90,6.91

In [16]:
csv_city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [17]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [18]:
# 1. Assign the locations to an array of latitude and longitude pairs
#locations = [latitude, longitude]

# 2. Assign the weights variable to some values
#temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute
#fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
#heatmap_layer = gmaps.heatmap_layer(locations, weights = temperatures)

# 5. Add the heatmap layer
#fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data
#fig

In [19]:
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [20]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [22]:
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
cloudiness = city_data_df['Cloudiness']
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, 
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-01-29 17:07:21,-23.1203,-134.9692,79.12,69,80,4.76
1,1,Vaini,TO,2021-01-29 17:07:24,-21.2000,-175.2000,75.20,100,90,14.97
6,6,Mercedes,AR,2021-01-29 17:14:24,-34.6515,-59.4307,82.99,61,48,4.00
9,9,Cape Town,ZA,2021-01-29 17:05:09,-33.9258,18.4232,75.20,53,20,18.41
11,11,Purwodadi,ID,2021-01-29 17:14:25,-7.0868,110.9158,75.52,91,100,7.94

In [28]:
preferred_cities_df.count()

City_ID       177
City          177
Country       176
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

                       City Country  Max Temp      Lat       Lng Hotel Name
0                   Rikitea      PF     79.12 -23.1203 -134.9692
1                     Vaini      TO     75.20 -21.2000 -175.2000
6                  Mercedes      AR     82.99 -34.6515  -59.4307
9                 Cape Town      ZA     75.20 -33.9258   18.4232
11                Purwodadi      ID     75.52  -7.0868  110.9158
15  San Carlos De Bariloche      AR     75.00 -41.1456  -71.3082
18                   Maceio      BR     75.20  -9.6658  -35.7353
19                 Manicore      BR     83.30  -5.8092  -61.3003
20               Guiratinga      BR     84.07 -16.3494  -53.7583
28                   Faanui      PF     80.92 -16.4833 -151.7500

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
try:
    for index, row in hotel_df.iterrows():
        # Get the latitude and longitude.
        lat = row["Lat"]
        lng = row["Lng"]

        # Add the latitude and longitude to location key for the params dictionary.
        params["location"] = f"{lat},{lng}"

        # Use the search term: "lodging" and our latitude and longitude.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        # Make request and get the JSON data from the search.
        hotels = requests.get(base_url, params=params).json()
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print('Hotel not found... skipping.')

Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,79.12,-23.1203,-134.9692,Pension Maro'i
1,Vaini,TO,75.20,-21.2000,-175.2000,Keleti Beach Resort
6,Mercedes,AR,82.99,-34.6515,-59.4307,Posada del Inti Centro
9,Cape Town,ZA,75.20,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
11,Purwodadi,ID,75.52,-7.0868,110.9158,OYO 1620 Sion Family Residence
15,San Carlos De Bariloche,AR,75.00,-41.1456,-71.3082,Hotel Patagonia
18,Maceio,BR,75.20,-9.6658,-35.7353,Hotel Ponta Verde MaceiÃ³
19,Manicore,BR,83.30,-5.8092,-61.3003,Hotel Durval
20,Guiratinga,BR,84.07,-16.3494,-53.7583,Hotel Angra do Cerrado - Guiratinga MT
28,Faanui,PF,80.92,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [36]:
hotel_df.loc[6, 'Hotel Name']

'Posada del Inti Centro'

In [43]:
for index, row in hotel_df.iterrows():
    if index == 9:
        print(index, row['Hotel Name'])

9 Radisson Blu Hotel Waterfront, Cape Town

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [49]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))